[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FastSegmentation"]
	path = FastSegmentation
	url = https://github.com/cran/FastSegmentation
